<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637967251289-h0ndb82d8p1feoqruissm2583qvrv08j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637967251289-h0ndb82d8p1feoqruissm2583qvrv08j</string>
	<key>API_KEY</key>
	<string>AIzaSyADvVab2d8609Grj4YbUbGW4oA5V0Yz3GM</string>
	<key>GCM_SENDER_ID</key>
	<string>637967251289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.barb.app</string>
	<key>PROJECT_ID</key>
	<string>barbua</string>
	<key>STORAGE_BUCKET</key>
	<string>barbua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637967251289:ios:bee9de8e62de1154a2be48</string>
	<key>DATABASE_URL</key>
	<string>https://barbua.firebaseio.com</string>
</dict>
</plist>